<div class="row mb-4">
  <div class="col-6">
    <h1>Consulta de infestação por localização</h1>
    <h2>Verifique o índice de infestação por localização em sua cidade, rua, bairro...</h2>
  </div>
  <div class="col-6">
    <div class="d-flex justify-content-end">
      <div class="input-group mb-3 w-50">
        <input type="text" class="form-control" placeholder="endereço de busca" aria-label="endereço de busca"
          aria-describedby="basic-addon2" [(ngModel)]="localizacao">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="buscarCidade()">buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="d-flex justify-content-end mb-1" style="line-height: 15px; font-weight: lighter;">
    <div class="mr-2">
      <div class="quadrado critico mr-1"></div>infestação crítica
    </div>
    <div class="mr-2">
      <div class="quadrado moderado mr-1"></div>infestação moderada
    </div>
    <div>
      <div class="quadrado leve mr-1"></div>infestação leve
    </div>
  </div>
</div>

<app-mapa></app-mapa>

<!-- <div class="container">
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary fs-2 w-100 p-3 m-2 mb-0"
        (click)="capturar()">
        <i class="fas fa-user"></i>
        Capturar imagem e realizar contagem
      </button>
    </div>
    <div class="col-6 d-flex align-items-center" *ngIf="quantidade_ovos">
      <span style="font-weight: bold; font-size: 25px;">Quantidade de ovos encontrados:
        <span style="color: red;">{{quantidade_ovos}}</span>
      </span>
    </div>
    <div class="col-6 d-flex align-items-center" *ngIf="!quantidade_ovos && timer">
      <span style="font-weight: bold; font-size: 25px;">Carregando:
        <span style="color: red;">{{timer}}</span>
      </span>
    </div>
  </div>

  <div class="row d-flex">
    <div class="col-6" *ngIf="imagem_original">
      <img class="m-2 w-100" [src]="sanitize('data:image/*;base64, ' + _arrayBufferToBase64(imagem_original))" alt="">
      <div class="d-flex justify-content-end">
        Imagem original
        <span *ngIf="data_hora"> - capturada em {{data_hora | date:'dd/MM/yyyy hh:mm:ss'}}h</span>
      </div>
    </div>
    <div class="col-6" *ngIf="imagem_processada">
      <img class="m-2 w-100" [src]="sanitize('data:image/*;base64, ' + _arrayBufferToBase64(imagem_processada))" alt="">
      <div class="d-flex justify-content-end">Imagem processada</div>
    </div>
  </div>
</div> -->

<!-- <footer class="footer d-flex">
  <div class="container">
    <div class="d-flex align-items-end justify-content-center h-100">
      <div>© 2022 SisMID - Projeto desenvolvido com 😡 em parceria com a UEL</div>
    </div>
  </div>
</footer> -->